<html>
<head>
<title>{% block title %}{% endblock %} - Droid PHP</title>
<meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1">
<style type="text/css">body{margin:20px auto;max-width:768px;line-height:1.6;font-size:16px;color:#333;padding:0 10px}h1,h2,h3{line-height:1.2}pre{padding-left:10px;line-height:1.2;font-size:14px}</style>
</head>
<body>
{% block page %}
{% endblock %}
</html>
